.content
  .content__top
    .content__top__avatar
      = link_to "/users/#{tweet.user_id}" do
        - if tweet.user.avatar.attached?
          = image_tag tweet.user.avatar.variant(resize: "90x90")
        - else
          = image_tag 'no-avatar.png', size: '80x80'
 
    .content__top__user-name
      #{tweet.user.name}
    - if user_signed_in? && current_user.id == tweet.user_id
      = link_to edit_tweet_path(tweet.id) do
        = fa_icon("pencil-alt")
      = link_to "/tweets/#{tweet.id}", method: :delete, data: { confirm: '削除しますか？' } do
        = fa_icon("trash-alt")

  .content__tweet
    .content__tweet__body
      #{tweet.body}
    .content__tweet__images
      - (0...tweet.images.count).each do |image|
        = image_tag tweet.thumbnail(image)
