= form_with model: @tweet, local: true, method: :post do |f|
  - @tweet.errors.full_messages.each do |message|
    .error-msg
      = message
  .contents
    .new-content
      .content__top
        .content__top__avatar
          - if current_user.avatar.attached?
            = image_tag current_user.avatar.variant(resize: "90x90")
          - else
            = image_tag 'no-avatar.png', size: '80x80'
        .content__top__user-name
          #{current_user.name}
      = f.text_area 'body', class: 'content__body'
      .new-box
        .new-box__btn
          = f.label :images, "", class: 'new-box__btn__image' do
            = f.file_field :images, multiple: true, style: "display:none;"
            image
          = f.submit class: 'new-box__btn__send', value: 'send', data: { disable_with: "送信中..." }
