%h2.login Log in
= form_for resource, as: resource_name, url: session_path(resource_name), html: {class: 'form'} do |f|
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "current-password"
  .actions.wrap
    = f.submit "OK", class: 'button'
= render "devise/shared/links"

